In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import plot_confusion_matrix, ConfusionMatrixDisplay, confusion_matrix
import random
from sklearn.dummy import DummyClassifier
import seaborn as sns
import os
import zipfile
from PIL import Image
import PIL
import glob
import warnings
warnings.filterwarnings("ignore")

In [2]:
url = r"C:\Users\Ofir\Desktop\קבצים ךפרוייקט\train"
titles = os.listdir(url)

In [3]:
pixels =[]
for title in titles:
    file = os.path.join(url,title)
    img = Image.open(file)
    resize = img.resize((100,100))
    bw = resize.convert(mode ='L')
    pixels.append([bw.getdata()])
    bw.save(r"C:\\Users\\Ofir\\Desktop\\קבצים ךפרוייקט\\reshape_data_B&W\\" + title)

In [4]:
categories=[]
for title in titles:
    
    title=title.split('.')[0]
    if title=='dog':
        categories.append(1) # dog = 1
    else:
        categories.append(0) # cat = 0

In [5]:
df_train = pd.DataFrame({
    'filename':titles,
    'category':categories,
     'pixels': pixels
})

In [6]:
df_train.head()

       filename  category                                             pixels
0     cat.0.jpg         0  [(169, 173, 177, 182, 185, 188, 190, 194, 196,...
1     cat.1.jpg         0  [(43, 43, 50, 47, 44, 39, 43, 42, 41, 53, 45, ...
2    cat.10.jpg         0  [(34, 31, 44, 46, 45, 53, 56, 56, 54, 56, 51, ...
3   cat.100.jpg         0  [(221, 223, 223, 227, 231, 227, 227, 231, 229,...
4  cat.1000.jpg         0  [(116, 119, 125, 96, 81, 93, 134, 131, 154, 18...

In [7]:
df_train.dtypes

filename    object
category     int64
pixels      object
dtype: object

In [8]:
# new df from the column of lists
split_df = pd.DataFrame(df_train['pixels'].tolist())
# display the resulting df
split_df

                                                       0
0      (169, 173, 177, 182, 185, 188, 190, 194, 196, ...
1      (43, 43, 50, 47, 44, 39, 43, 42, 41, 53, 45, 3...
2      (34, 31, 44, 46, 45, 53, 56, 56, 54, 56, 51, 5...
3      (221, 223, 223, 227, 231, 227, 227, 231, 229, ...
4      (116, 119, 125, 96, 81, 93, 134, 131, 154, 181...
...                                                  ...
24995  (140, 142, 143, 145, 146, 147, 148, 149, 148, ...
24996  (97, 79, 99, 91, 87, 100, 81, 81, 95, 76, 73, ...
24997  (45, 43, 48, 59, 64, 51, 53, 52, 52, 44, 43, 4...
24998  (254, 251, 244, 234, 222, 205, 180, 143, 101, ...
24999  (239, 241, 243, 242, 241, 242, 247, 251, 247, ...

[25000 rows x 1 columns]

In [9]:
for i in range(25000):
    df_train['pixels'][i]= list(df_train['pixels'][i])

In [10]:
df_train.head()

       filename  category                                             pixels
0     cat.0.jpg         0  [(169, 173, 177, 182, 185, 188, 190, 194, 196,...
1     cat.1.jpg         0  [(43, 43, 50, 47, 44, 39, 43, 42, 41, 53, 45, ...
2    cat.10.jpg         0  [(34, 31, 44, 46, 45, 53, 56, 56, 54, 56, 51, ...
3   cat.100.jpg         0  [(221, 223, 223, 227, 231, 227, 227, 231, 229,...
4  cat.1000.jpg         0  [(116, 119, 125, 96, 81, 93, 134, 131, 154, 18...

In [11]:
split_df = pd.DataFrame(df_train['pixels'].tolist())

df = pd.concat([df_train, split_df], axis=1)

df

,filename,category,pixels,0
0,cat.0.jpg,0,"[(169, 173, 177, 182, 185, 188, 190, 194, 196,...","(169, 173, 177, 182, 185, 188, 190, 194, 196, ..."
1,cat.1.jpg,0,"[(43, 43, 50, 47, 44, 39, 43, 42, 41, 53, 45, ...","(43, 43, 50, 47, 44, 39, 43, 42, 41, 53, 45, 3..."
2,cat.10.jpg,0,"[(34, 31, 44, 46, 45, 53, 56, 56, 54, 56, 51, ...","(34, 31, 44, 46, 45, 53, 56, 56, 54, 56, 51, 5..."
3,cat.100.jpg,0,"[(221, 223, 223, 227, 231, 227, 227, 231, 229,...","(221, 223, 223, 227, 231, 227, 227, 231, 229, ..."
4,cat.1000.jpg,0,"[(116, 119, 125, 96, 81, 93, 134, 131, 154, 18...","(116, 119, 125, 96, 81, 93, 134, 131, 154, 181..."
...,...,...,...,...
24995,dog.9995.jpg,1,"[(140, 142, 143, 145, 146, 147, 148, 149, 148,...","(140, 142, 143, 145, 146, 147, 148, 149, 148, ..."
24996,dog.9996.jpg,1,"[(97, 79, 99, 91, 87, 100, 81, 81, 95, 76, 73,...","(97, 79, 99, 91, 87, 100, 81, 81, 95, 76, 73, ..."
24997,dog.9997.jpg,1,"[(45, 43, 48, 59, 64, 51, 53, 52, 52, 44, 43, ...","(45, 43, 48, 59, 64, 51, 53, 52, 52, 44, 43, 4..."
24998,dog.9998.jpg,1,"[(254, 251, 244, 234, 222, 205, 180, 143, 101,...","(254, 251, 244, 234, 222, 205, 180, 143, 101, ..."
24999,dog.9999.jpg,1,"[(239, 241, 243, 242, 241, 242, 247, 251, 247,...","(239, 241, 243, 242, 241, 242, 247, 251, 247, ..."

In [12]:
#list(bw.getdata())