In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn import utils

In [2]:
df = pd.read_csv(r"unemployed.csv")

In [3]:
df.head()

,Month,Cbs district,City symbol,Name,City or Regional council,Men,Weman,Academic,Non academic,Unemployed job seekers,Estimated unemployed rate in city
0,2010-01,Haifa,2710,אום אל-פחם,יישוב,1398,1941,10,3329,3335,19.94%
1,2010-01,Haifa,1020,אור עקיבא,יישוב,258,318,53,523,562,6.23%
2,2010-01,Haifa,6000,באקה אל-גרביה,יישוב,278,214,5,487,491,NaN
3,2010-01,Haifa,9800,בנימינה-גבעת עדה*,יישוב,83,108,64,127,190,3.11%
4,2010-01,Haifa,1326,"בסמ""ה",יישוב,146,128,5,269,274,8.95%

In [4]:
df.shape

(28668, 11)

In [5]:
df = df.dropna()

In [6]:
df.isna().sum()

Month                                0
Cbs district                         0
City symbol                          0
Name                                 0
City or Regional council             0
Men                                  0
Weman                                0
Academic                             0
Non academic                         0
Unemployed job seekers               0
Estimated unemployed rate in city    0
dtype: int64

In [7]:
name_column = df.loc[:,'Name']
names = name_column.values
print(name_column)

0               אום אל-פחם
1                אור עקיבא
3        בנימינה-גבעת עדה*
4                    בסמ"ה
5              ג'סר א-זרקא
               ...
28663           מעלה אפרים
28664               עמנואל
28665               קדומים
28666           קריית ארבע
28667          קרני שומרון
Name: Name, Length: 28620, dtype: object

In [8]:
df['Name'].value_counts()

באר יעקב              124
גדרה                  124
חצור הגלילית          124
פקיעין (בוקייעה)      124
קריית יערים           124
                     ...
מ.א. שדות דן           40
מ.א. עמק לוד           36
חריש-קציר              24
מ.א. בוסתן אל-מרג'     24
אפרתה                  24
Name: Name, Length: 259, dtype: int64

In [9]:
dummies = pd.get_dummies(df.Name)

In [10]:
merged = pd.concat([df, dummies], axis='columns')

In [11]:
df = merged.drop(['Name'], axis='columns')

In [12]:
df['City or Regional council'].unique()

array(['יישוב', 'מועצה איזורית'], dtype=object)

In [13]:
df['City or Regional council'] = pd.factorize(df['City or Regional council'])[0]

In [14]:
df.head()

,Month,Cbs district,City symbol,City or Regional council,Men,Weman,Academic,Non academic,Unemployed job seekers,Estimated unemployed rate in city,...,רעננה,שבלי - אום אל-גנם,שגב-שלום,שדרות,שוהם,שלומי,שעב,שפרעם,תל מונד,תל שבע
0,2010-01,Haifa,2710,0,1398,1941,10,3329,3335,19.94%,...,0,0,0,0,0,0,0,0,0,0
1,2010-01,Haifa,1020,0,258,318,53,523,562,6.23%,...,0,0,0,0,0,0,0,0,0,0
3,2010-01,Haifa,9800,0,83,108,64,127,190,3.11%,...,0,0,0,0,0,0,0,0,0,0
4,2010-01,Haifa,1326,0,146,128,5,269,274,8.95%,...,0,0,0,0,0,0,0,0,0,0
5,2010-01,Haifa,541,0,206,135,3,338,339,6.83%,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df.dtypes

Month                       object
Cbs district                object
City symbol                  int64
City or Regional council     int64
Men                          int64
                             ...
שלומי                        uint8
שעב                          uint8
שפרעם                        uint8
תל מונד                      uint8
תל שבע                       uint8
Length: 269, dtype: object

In [16]:
df['Cbs district'].unique()

array(['Haifa', 'Jerusalem', 'Tel-Aviv', 'center', 'north', 'south',
       'West Bank'], dtype=object)

In [17]:
df['Cbs district'] = pd.factorize(df['Cbs district'])[0]

In [18]:
print(df[['Cbs district']])

       Cbs district
0                 0
1                 0
3                 0
4                 0
5                 0
...             ...
28663             6
28664             6
28665             6
28666             6
28667             6

[28620 rows x 1 columns]

In [19]:
df['Cbs district'].unique()

array([0, 1, 2, 3, 4, 5, 6], dtype=int64)

In [20]:
df['Month'].unique()

array(['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
       '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
       '2020-01', '2020-02', '2020-03', '2020-04'], dtype=object)

In [21]:
def to_year(s):
    if("2010" in s):
        return 2010
    if("2011" in s):
        return 2011
    if("2012" in s):
        return 2012
    if("2013" in s):
        return 2013
    if("2014" in s):
        return 2014
    if("2015" in s):
        return 2015
    if("2016" in s):
        return 2016
    if("2017" in s):
        return 2017
    if("2018" in s):
        return 2018
    if("2019" in s):
        return 2019
    if("2020" in s):
        return 2020
    else: -1
        
        

df["Month"] = df["Month"].apply(to_year)
df.tail()

,Month,Cbs district,City symbol,City or Regional council,Men,Weman,Academic,Non academic,Unemployed job seekers,Estimated unemployed rate in city,...,רעננה,שבלי - אום אל-גנם,שגב-שלום,שדרות,שוהם,שלומי,שעב,שפרעם,תל מונד,תל שבע
28663,2020,6,3608,0,100,150,6,244,248,30.77%,...,0,0,0,0,0,0,0,0,0,0
28664,2020,6,3660,0,219,332,4,547,548,40.65%,...,0,0,0,0,0,0,0,0,0,0
28665,2020,6,3557,0,191,219,20,390,410,20.55%,...,0,0,0,0,0,0,0,0,0,0
28666,2020,6,3611,0,496,584,39,1041,1077,31.94%,...,0,0,0,0,0,0,0,0,0,0
28667,2020,6,3640,0,483,544,53,974,1023,25.13%,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df.dtypes

Month                       int64
Cbs district                int64
City symbol                 int64
City or Regional council    int64
Men                         int64
                            ...
שלומי                       uint8
שעב                         uint8
שפרעם                       uint8
תל מונד                     uint8
תל שבע                      uint8
Length: 269, dtype: object

In [23]:
df['Estimated unemployed rate in city'] = df['Estimated unemployed rate in city'].str.rstrip("%").astype(float)/100

In [24]:
print(df[['Estimated unemployed rate in city']])

       Estimated unemployed rate in city
0                                 0.1994
1                                 0.0623
3                                 0.0311
4                                 0.0895
5                                 0.0683
...                                  ...
28663                             0.3077
28664                             0.4065
28665                             0.2055
28666                             0.3194
28667                             0.2513

[28620 rows x 1 columns]

In [25]:
df.dtypes

Month                       int64
Cbs district                int64
City symbol                 int64
City or Regional council    int64
Men                         int64
                            ...
שלומי                       uint8
שעב                         uint8
שפרעם                       uint8
תל מונד                     uint8
תל שבע                      uint8
Length: 269, dtype: object

In [26]:
#df['Name'] = pd.factorize(df['Name'])[0]

In [27]:
#df['Name'].unique()

In [28]:
df.dtypes

Month                       int64
Cbs district                int64
City symbol                 int64
City or Regional council    int64
Men                         int64
                            ...
שלומי                       uint8
שעב                         uint8
שפרעם                       uint8
תל מונד                     uint8
תל שבע                      uint8
Length: 269, dtype: object

In [29]:
df.head()

,Month,Cbs district,City symbol,City or Regional council,Men,Weman,Academic,Non academic,Unemployed job seekers,Estimated unemployed rate in city,...,רעננה,שבלי - אום אל-גנם,שגב-שלום,שדרות,שוהם,שלומי,שעב,שפרעם,תל מונד,תל שבע
0,2010,0,2710,0,1398,1941,10,3329,3335,0.1994,...,0,0,0,0,0,0,0,0,0,0
1,2010,0,1020,0,258,318,53,523,562,0.0623,...,0,0,0,0,0,0,0,0,0,0
3,2010,0,9800,0,83,108,64,127,190,0.0311,...,0,0,0,0,0,0,0,0,0,0
4,2010,0,1326,0,146,128,5,269,274,0.0895,...,0,0,0,0,0,0,0,0,0,0
5,2010,0,541,0,206,135,3,338,339,0.0683,...,0,0,0,0,0,0,0,0,0,0

In [30]:
#from sklearn import preprocessing
#x_array = np.array(df['Month'])
#normalized_arr = preprocessing.normalize([x_array])
#print(normalized_arr)

In [31]:
#scaler = preprocessing.MinMaxScaler()
#names = df.columns
#d = scaler.fit_transform(df)
#scaled_df = pd.DataFrame(d, columns=names)
#scaled_df.head()

## Modeling

In [32]:
#lab = preprocessing.LabelEncoder()
#train_transformed = lab.fit_transform(train)
#test_transformed = lab.fit_transform(test)

In [33]:
#classifier = LogisticRegression()
#classifier.fit(train_transformed, test_transformed)

In [34]:
train = df.drop(['Estimated unemployed rate in city','City symbol'], axis=1)
test = df['Estimated unemployed rate in city']

In [35]:
X_train, X_test, y_train, y_test = train_test_split(train, test, test_size = 0.3, random_state=2)

## Linear Regression

In [36]:
regr = LinearRegression()

In [37]:
regr.fit(X_train,y_train)

LinearRegression()

In [38]:
pred = regr.predict(X_test)

In [39]:
pred

array([0.01623474, 0.13303602, 0.0216355 , ..., 0.07751245, 0.06422641,
       0.13613434])

In [40]:
regr.score(X_test, y_test)

0.7321497559373886

In [ ]:
#clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
#clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
#y_pred = clf.predict(X_test)

In [ ]:
#print("Accuracy:",metrics.accuracy_score(y_test, y_pred))